h1 {
    text-transform:uppercase; 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    
   }

  



.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}



.inputfile + label {
    background-color: white;
    background-image: url("/static/path.png");
    background-repeat: no-repeat;
    background-size: auto;
    border: solid;
    padding: 40px 60px 40px 10px;
    color: black;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
    size-adjust: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    border-style:dashed;
}




#submitSpecial {
    background-color: white;
    background-image: url("/static/path.png");
    background-repeat: no-repeat;
    background-size: auto;
    border: solid;
    padding: 40px 60px 40px 10px;
    color: black;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
    size-adjust: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    border-style:dashed;

  }
/**
  #formFile {
    background-color: #455c91;
    color: white;
    border: none;
    font-size: 1em;
    padding: 0.2em;
    border-radius: 1em;
    text-align: center
  }
  
  #formFile:active {
    background-color: #32446e;
  }
**/

  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
